<h2>Registrando um lance</h2>

<%= form_with model: @bid do |f| %>
    <div>
        <%= f.label :lot_code, "Código do lote" %>
        <%= f.text_field :lot_code %>
    </div>

    <div>
        <%= f.label :cpf, "CPF" %>
        <%= f.text_field :cpf %>
    </div>

    <div>
        <%= f.label :bid_value, "Valor do lance" %>
        <%= f.text_field :bid_value %>
    </div>

    <div>
        <%= f.submit "Enviar" %>
    </div>
    
<%end%>