<h3>Validação do Lance Vencedor</h3>

<% if @bids.any? %>
  <h3>Lote <%= @bids.last.lot_code %></h3>  
  <div>      
    <p>CPF vencedor: <%= @bids.last.cpf %></p>
    <p>valor do lance: <%= @bids.last.bid_value %></p>      
  </div>    
<% else %>
    <p>Vencedor CPF: Nenhum</p>
<% end %>  

<div>
  <%= button_to 'Encerrar lote', edit_lot_path %>  
</div>