<div>
  <ul>
    <li><%= link_to 'Configurar Lote', new_lot_path%></li>
    <li><%= link_to 'Cadastrar Produtos', new_product_path %></li>
    <li><%= link_to 'Ver lotes vencidos' %></li>
    <li><%= link_to 'Lotes aguardando aprovação' %></li>
  </ul>
</div>

<section id="bidlots">
  <h4>Lotes disponíveis para lances:</h4>
  <div>
    <% @lots.each do |l| %>
      <p> 
        código: <%= link_to l.code, lot_path(l.id) %> 
        , lances a partir de R$ <%= l.minimum_bid %>
      </p>     
    <% end %>
  </div>

  <div>
    <% if @lots.empty? %>
      <p>Não há lotes disponíveis.</p>
    <% end %>
  </div>
</section>


<section>
  <h4>Lotes disponíveis em breve:</h4>
  <div>
    <% @next_lots.each do |l| %>
      <p> código: <%= link_to l.code, lot_path(l.id) %> </p>      
    <% end %>
  </div>

  <div>
    <% if @next_lots.empty? %>
      <p>Não há lotes disponíveis.</p>
    <% end %>
  </div>
</section>

<% if user_signed_in? %>
  <section id="outlots">
    <h4>Lotes vencidos:</h4> 
    <% if @out_lots.empty? %>
      <div>
        <p>Não há lotes para exibir.</p>      
      </div>
    <% else %>    
      <div>
        <% @out_lots.each do |l| %>
          <p> código: <%= link_to l.code, lot_path(l.id) %> </p>      
        <% end %>
      </div>
    <% end %>    
  </section>          
<% end %>      