<h2> Cadastrando novo lote </h2>

<%= form_with model: @lot do |f| %>
  <div>
    <%= f.label :code, 'Código do Lote' %>
    <%= f.text_field :code %>
  </div>
  
  <div>
    <%= f.label :end_date, 'Data final' %>
    <%= f.text_field :end_date %>
  </div>
  
  <div>
    <%= f.label :minimum_bid, 'Lance mínimo' %>
    <%= f.text_field :minimum_bid %>
  </div>
  
  <div>
    <%= f.label :start_date, 'Data início' %>
    <%= f.text_field :start_date %>
  </div>

  <div>
    <%= f.label :items, 'Itens' %>
    <%= f.text_area :items %>
  </div>
  
  <div>
      <%= f.submit 'Enviar'%>
  </div>

<% end %>