
<h3>Código do lote <%= @lot.code %> </h3>

<dl>
  <dt>Lista de produtos contidos nesse lote:</dt>
  <dd>..</dd>
  <dt>'Lance inicial (R$): --'</dt>
  <dd>ler do model Bid</dd>
  <dt>data início do leilão: </dt> 
  <dd><%= @lot.start_date%></dd>
  <dt>data final para fazer lances: </dt>
  <dd><%= @lot.end_date%></dd>
</dl>

<% if @lot.start_date.to_date.before? DateTime.now.to_date %>
  <div>
    <%= link_to 'Fazer um lance', new_lot_bid_path(@lot) %></p>
  </div>
<% end %>

<div>
  <%= link_to 'Voltar', root_path %>
</div>


