<h2>Cadastro de Itens para Lotes</h2>

<%= form_with model:@product do |f| %>
  
  <div>
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description, 'Descrição' %>
    <%= f.text_field :description %>
  </div>

  <div>
    <%= f.label :photo, 'Foto' %>
    <%= f.file_field :photo %>
  </div>

  <div>
    <%= f.label :weight, 'Peso' %>
    <%= f.text_field :weight %>
  </div>

  <div>
    <%= f.label :dimensions, 'Dimensões em cm (largura, altura e profundidade)' %>
    <%= f.text_field :dimensions %>
  </div>

  <div>
    <%= f.label :product_category, 'Categoria de produto' %>
    <%= f.text_field :product_category %>
  </div>

  <div>
    <%= f.submit 'Cadastrar' %>
  </div>

<% end %>